.Blacksq{
    background-color : black;
    float : left;
    height : 4em;
    width : 4em;
    margin: 20px;
    color : white;
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
}



    



